body{
  background-color: rgb(15, 13, 13);
  margin: 0;
  color: aliceblue;
 
}
.main-cntainer{
  width: 100%;
}
.cont{
  margin: auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  text-align: center;
  gap:70px;

}
.head{
  margin: auto;
  background-color: rgb(26, 26, 63);
  width: auto;
  padding: 20px;
  width: 320px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 10px;
}
.head h1{
  color:gold;
}
input{
  background-color: transparent;
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 20px;
  color: white;
  font-size: 18px;
}
input:focus{
  outline: none;
}
input::placeholder{
  color: rgb(208, 216, 223);
}
.cont div{
  background-color: rgb(58, 11, 11);
  border-radius: 10px;
  border: 2px solid rgb(48, 42, 42);
}
@media (max-width:700px){
  .cont{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
    gap:70px;
  
  }
}